# AWS Cognito Configuration
VITE_AWS_REGION=us-east-1
VITE_AWS_USER_POOL_ID=us-east-1_lYGQMWQbj
VITE_AWS_CLIENT_ID=60i5mqvn9r9ovvfhmco6qojkk3

# API Configuration
VITE_API_BASE_URL=https://api.yourdomain.com
